* {
     margin: 0;
     padding 0;
 }

 body
 {
     background-color:black;
     display:flex;
     flex-direction: column;
     justify-content: center;
     align-items: center;
 }

 .game-container
 {
     width:100%;
     height:100 vh;
     display: flex;
     flex-direction: column;
     justify-content: space-evenly;
     align-items: center;
 }

 .grid
 {
     display: flex;
     flex-wrap: wrap;
     width: 560px;
     height 560px;
     border 0.2px solid rgb(1, 17, 17);

     .grid div
     {
         width: 20px;
         height 20px;
     }
 .power-pellet
 {
     background-color: rgb(14,233,14);
     border: solid black 4px;
     box-sizing: border-box;
     border-radius: 10px;
 }

 .pac-dot
 {
     background-color:yellow;
     border:solid black 7px;
     box-sizing: border-box;
     border-radius: 10px;
 }
 .blinky
 {
     background-color: red;
 }
 .stinky
 {
     background-color: rgb(221,18, 130);
 }
 .inky
 {
     background-color:rgb(15,214,204);
 }
 .clyde
 {
     background-color:rgb(243,125, 78);
 }
 .ghost
 {
     border: 0px;
     border-radius:0px;
 }
 .scared-ghost
 {
     background-color: purple;
     border: 0px;
     border-radius: 0px;
 }
 .wall
 {
     background-color: rgb(8,14,102);
 }
 .pacman
 {
     background-color rgh(247,232, 22);
     border-radius: 10px;
 }
 h2
 {
     color: white;
     font-weight: normal;
     test-align:center;
 }
 .low-score
 {
     color red;
 }
 .mid-score
 {
     color:yellow;
 }
 .high-score
 {
     color:red;
 }
 #start-screen
 {
     background-color: black;
     color:white;
     flex-direction:column;
     align-items: center;
 }

 #start-msg
 {
     animation: blink 0.2s infinite;
 }
 #start-screen h2
 {
     margin: 20px 0px;
 }
 #game-over-screen{
     align-items: center;
     color:red;
     font-size: 6rem;
     justify-content:center;
     animation: blink 0.8s infinite;
     display:none;
 }

 #you-won-screen 
 {

     align-items: center;
     color:#0bf117;
     font-size: 6rem;
     justify-content:center;
     animation: blink 0.8s infinite;
     display:none;
 }
 .overlay-screen
 {
     position:fixed;
     width: 100%;
     height 100vh;
     display:flex;
 }

